variables:
  buildConfiguration: 'Debug'
  netSdkVersion: '10.x'

jobs:
- job: BuildAndRunCodeAnalysis
  displayName: Build and run code analysis
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build solution with code analysis
    inputs:
      command: build
      projects: '*.slnx'
      arguments: -c $(buildConfiguration) -warnaserror

- job: RunTests
  displayName: Run tests
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build test projects
    inputs:
      command: build
      projects: 'test/*/*Tests.csproj'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run UI tests
    timeoutInMinutes: 30
    inputs:
      command: test
      projects: 'test/*/*UITests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build --report-trx
  - task: PublishPipelineArtifact@1
    displayName: Publish UI test artifacts
    condition: succeededOrFailed()
    inputs:
      artifactName: ui_test_artifacts
      targetPath: test/AtataSampleApp.UITests/bin/$(buildConfiguration)/net10.0/artifacts
