variables:
  buildConfiguration: 'Debug'

jobs:
- job: BuildAndRunCodeAnalysis
  displayName: Build and run code analysis
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution with code analysis
    inputs:
      command: build
      projects: '*.slnx'
      arguments: -c $(buildConfiguration) -warnaserror

- job: RunTests
  displayName: Run tests
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      command: build
      projects: '*.slnx'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 30
    continueOnError: true
    inputs:
      command: test
      projects: 'test/*/*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build
  - task: PublishPipelineArtifact@1
    displayName: Publish test artifacts
    inputs:
      artifactName: Test artifacts
      targetPath: test/AtataSampleApp.UITests/bin/$(buildConfiguration)/net10.0/artifacts
