<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.3.8" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.8" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.8" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.4.1" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
</packages>